


body {
    color: #000 !important;
    background: #eeedf2 !important;
}

.rightsidebg img {width:100%; height:auto;}

.rightsidebg {background:#00bdd5; padding:18% 0;}
@media only screen and (min-width: 768px) {

    .navbar-nav {
        float: left;
        margin: 0;
        position: relative;
        top: 3px;
    }   

.nav>li>a {
    padding: 13px 30px 12px !important;
}
.navbar .navbar-right>li>a {
    padding: 13px 0px 12px !important;
}
.formbodymain {
    position: absolute;
    min-height: 300px;
    margin: 0% auto;
    padding: 0;
    max-width: 1014px;
    width: 78%;
    border-radius: 0;
    -webkit-border-radius: 0;
    z-index: 99;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 0px 17px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 17px 14px 0px rgba(0, 0, 0, 0.75);
    background:#fff;
    min-height: 600px;
}
.ttl_main {text-align:center;}
}

.ttl_hd {padding: 15% 0 3% 0; text-align: center; font-size:30px; color:#000; }

@media only screen and (max-width: 767px) {

    .formbodymain {
        background:#fff;
    }
    body {
        background: #fff !important;
    }

}

.btn-success {
    background: #00bdd5 !important;
    border: 1px solid #169F85;
    width:100%;
}
.aset .btn-success {
    background: #00bdd5 !important;
    border: 1px solid #169F85;
    width: fit-content;
}
.navbar-header {
    background: transparent !important;
    color:#00bdd5 !important;
}

.navbar-header .navbar-brand, .navbar-nav>li>a, .site_title {
    color: #00bdd5 !important;
    margin-left: 0 !important;
}

.ttl_main h2 {text-align: left; padding-top:5%;}
.ttl_maindt h2 {text-align: center;}
.txtrgt {text-align: right;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent !important;
    border-bottom:2px solid #00bdd5;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 24.3% !important;
    }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-default {
    background-color: #fff !important;
	padding:10px 15px !important;
	border:1px solid #ccc;
	color:#000 !important;
}
.dmag {margin: 2px 0 0 0; display:block; width:fit-content;}
.dmag2 {margin: 2px 0 0 0; display:inline; width:fit-content;}
.pdtop30 {padding-top:5%;}
.txtclr {color:#00bdd5 !important;}
.mgtop20 {margin-top:20px;}
.backlgbg {background:#f3f4f6; border:1px solid #ccc;}

.form-control2 {
    display: block;
    width: 100%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color:#f3f4f6;
    background-image: url("../images/eyecut.png");
	background-repeat:no-repeat;
	background-position: right;
    border: none;
	outline:none;
}
label.cp {padding-left:10px;}

table thead {background:#fafafb; border:1px solid #ccc; margin-bottom:10px;}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.table-striped>tbody>tr {
    background-color: #fff !important;
	border:1px solid #ccc;
}

table tbody {border-top:1px solid #ccc;}

.table-striped>tbody>tr:first-child {border-top:1px solid #ccc;}