.formbodymain {
  /* Styles for the main container */
}

.x_content {
  max-height: 400px;
  overflow-y: scroll;
}

.x_panel {
  /* Styles for the panel */
}

.ttl_main {
  /* Styles for the title section */
}

.table th,
.table td,
.table tr {
  vertical-align: middle !important;
  padding: 5px !important;
}

.table td span {
  line-height: 100% !important;
}
.table td input {
  font-size: 1.4em !important;
  width: 100px;
}
.save_btn {
  font-size: 1em !important;
  width: 100px;
}
.succ_msg {
  color: green;
  padding-left: 10px;
  font-size: 0.8em;
}
.err_msg {
  color: red;
  padding-left: 10px;
  font-size: 0.8em;
}
.settings_input input {
  padding: 2px 0 0 0 !important;
}
.settings_input fieldset {
  top: -13px;
}
.switch_container {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this if you want some spacing between ON, OFF, and the switch */
  padding: 0;
}

.switch_container span {
  padding: 0 10px;
}
