.navbar-default .navbar-nav a.active {
  color: #555 !important;
  background-color: transparent !important;
  border-bottom:2px solid #00bdd5 !important;
}

.eyeoff {
    display: block;
    width: 100%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color:#f3f4f6;
    background-image: url("../images/eyecut.png");
    background-repeat:no-repeat;
    background-position: right;
    border: none;
    outline:none;
}

.eyeon {
    display: block;
    width: 100%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color:#f3f4f6;
    background-image: url("../images/eye.jpg");
    background-repeat:no-repeat;
    background-position: right;
    border: none;
    outline:none;
}

.tbl {
  width: 100%;
  border-collapse: initial;
}
.loader {
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 1000;
    background: none repeat scroll 0 0 #b3ecff;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    display: flex;
}
.loader svg {
   margin: auto; 
   margin-top: 20%;
}
.gauge {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gauge .info {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: auto;
    width: 100%;
}
.gauge .info h5 {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
}
